<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net"
                          publicKeyToken="669e0ddf0bb1aa2a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0"
                         newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- The number of days to retain the archive records. -->
    <add key="ArchiveDays"
         value="15" />
    <!-- A list of Business Unit Entity Keys to use for filtering data. Formatted as a comma separated list. An empty string will trigger all Business Units to be used. -->
    <add key="BusinessUnitEntityKeyFilter"
         value="101" />
    <!-- Unique identifier used to authenticate with RAWS. -->
    <add key="ClientApplicationIdentifier"
         value="94e962d3-370a-439d-adc3-d461d48bb05f" />
    <!-- Enables the Archive Process. If multiple instances are installed on different servers to divide the Regions, only one instance can process Archives. All others must be set to False. -->
    <add key="EnableArchiveProcess"
         value="False" />
    <!-- Enables the Maintenance Process. If multiple instances are installed on different servers to divide the Regions, only one instance can process Maintenance. All others must be set to False. -->
    <add key="EnableMaintenanceProcess"
         value="True" />
    <!-- Enables the Notifications Process. If multiple instances are installed on different servers to divide the Regions, only one instance can process Notifications. All others must be set to False. -->
    <add key="EnableNotificationsProcess"
         value="False" />
    <!-- The interval in milliseconds between held thread cycles. -->
    <add key="HeldThreadSleepDuration"
         value="5000" />
    <!-- The relative path to write the log file. -->
    <add key="LogFilePath"
         value="Logs\" />
    <!--add key="LoginEmail" value="integration@roadnet.com" />
    <add key="LoginPassword" value="integration1" /-->
    <!-- Login email used to authenticate with RAWS. -->
    <add key="LoginEmail"
         value="integration@roadnet.com" />
    <!-- Login password used to authenticate with RAWS. -->
    <add key="LoginPassword"
         value="integration1" />
    <!-- The maximum number of threads to run in parallel. Less than or equal to 0 will set to unlimited. -->
    <add key="MaximumThreads"
         value="5" />
    <!-- A list of Region Identifiers to use for filtering data while processing Notifications. Formatted as a comma separated list. An empty string will trigger all Regions to be used. -->
    <add key="NotificationRegionFilter"
         value="R1" />
    <!-- A list of Region Identifiers to use for filtering data. Formatted as a comma separated list. An empty string will trigger all Regions to be used. The value "NONE" will disable all Region-specific processes. -->
    <add key="RegionFilter"
         value="R1,R2" />
    <!-- The interval in milliseconds to run the integration Default 30,000. -->
    <add key="RunInterval"
         value="10000" />
    <!-- The duration in milliseconds to wait for a free thread. -->
    <add key="SleepDuration"
         value="5000" />
    <!-- The time(s) to trigger the Truncate Archives Process each day. Formatted as a comma separated list of 24 hour times. An empty string will disable the process. -->
    <add key="TruncateArchivesTimes"
         value="1:00" />
    <!-- The absolute path to the order csv -->
    <add key="DummyOrderCSVFile"
         value="Dummy Orders\" />
    <!-- The duration in minutes to refresh Dictionary Cache. -->
    <add key="DictServiceTimeRefresh"
         value="15" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoginService"
                 maxBufferPoolSize="17179869176"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00"
                 receiveTimeout="00:05:00"
                 sendTimeout="00:05:00">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="268435456"
                        maxArrayLength="536870912"
                        maxBytesPerRead="134217728"
                        maxNameTableCharCount="536870912" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IQueryService"
                 maxBufferPoolSize="17179869176"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00"
                 receiveTimeout="00:05:00"
                 sendTimeout="00:05:00">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="268435456"
                        maxArrayLength="536870912"
                        maxBytesPerRead="134217728"
                        maxNameTableCharCount="536870912" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IRoutingService"
                 maxBufferPoolSize="17179869176"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00"
                 receiveTimeout="00:05:00"
                 sendTimeout="00:05:00">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="268435456"
                        maxArrayLength="536870912"
                        maxBytesPerRead="134217728"
                        maxNameTableCharCount="536870912" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IAdministrationService"
                 maxBufferPoolSize="17179869176"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00"
                 receiveTimeout="00:05:00"
                 sendTimeout="00:05:00">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="268435456"
                        maxArrayLength="536870912"
                        maxBytesPerRead="134217728"
                        maxNameTableCharCount="536870912" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IMappingService"
                 maxBufferPoolSize="17179869176"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00"
                 receiveTimeout="00:05:00"
                 sendTimeout="00:05:00">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="268435456"
                        maxArrayLength="536870912"
                        maxBytesPerRead="134217728"
                        maxNameTableCharCount="536870912" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--endpoint address="https://apex-prod-login.aws.roadnet.com/Login/LoginService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginService"
                contract="Apex.ILoginService"
                name="BasicHttpBinding_ILoginService" />
      <endpoint address="https://apex-prod-login.aws.roadnet.com/Query/QueryService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQueryService"
                contract="Apex.IQueryService"
                name="BasicHttpBinding_IQueryService" />
      <endpoint address="https://apex-prod-login.aws.roadnet.com/Routing/RoutingService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRoutingService"
                contract="Apex.IRoutingService"
                name="BasicHttpBinding_IRoutingService" />
      <endpoint address="https://apex-prod-login.aws.roadnet.com/Administration/AdministrationService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdministrationService"
                contract="Apex.IAdministrationService"
                name="BasicHttpBinding_IAdministrationService" />
      <endpoint address="https://apex-prod-login.aws.roadnet.com/Mapping/MappingService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMappingService"
                contract="Apex.IMappingService"
                name="BasicHttpBinding_IMappingService" /-->

      <endpoint address="https://apex-cs-login.aws.roadnet.com/Login/LoginService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService" contract="Apex.ILoginService" name="BasicHttpBinding_ILoginService" />
      <endpoint address="https://apex-cs-login.aws.roadnet.com/Query/QueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueryService" contract="Apex.IQueryService" name="BasicHttpBinding_IQueryService" />
      <endpoint address="https://apex-cs-login.aws.roadnet.com/Routing/RoutingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoutingService" contract="Apex.IRoutingService" name="BasicHttpBinding_IRoutingService" />
      <endpoint address="https://apex-cs-login.aws.roadnet.com/Administration/AdministrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministrationService" contract="Apex.IAdministrationService" name="BasicHttpBinding_IAdministrationService" />
      <endpoint address="https://apex-cs-login.aws.roadnet.com/Mapping/MappingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMappingService" contract="Apex.IMappingService" name="BasicHttpBinding_IMappingService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="INTEGRATION"
         connectionString="Driver={SQL Server Native Client 11.0};Server=192.168.33.10;Database=AVERITT_TEST;Uid=sa;Pwd=testing123*;" />
  </connectionStrings>
</configuration>
